
@{
    ViewData["Title"] = "List";
}

<body>
    <label for="Title"></label>
    <input type="text" id="Title" placeholder=" Plaats hier je zoekterm" />
    <h1>FilmLijst</h1>
    <table id="movieTable">
        <tr><th>Titel</th><th>Jaar</th><th>Waardering</th></tr>
    </table>
</body>